<?php

return [
    'detail_commanding' => [
        'commands' => [
            [
                'command' => 'Some\Command\Class',
                'handler' => 'Some\Handler\Class',
            ],
        ],
        'listeners' => [
            'Some/Listener/Class',
        ],
    ],
];
