<?php

return array(
    'detail_commanding' => array(
        'commands' => array(
            array(
                'command' => 'Some\Command\Class',
                'handler' => 'Some\Handler\Class',
            ),
        ),
    ),
);
